
/* navigation bar section */

.navigation-buttons {
    margin-right: 10px;
    margin-bottom: 2%;
}
/* find clinic section */
#find-clinic{
    padding: 8% 15%;
    background-color: lightgray;
    background-image: url(placeholderphoto.png);
    background-position: 0rem -25rem; 
    background-size: 1920px;
    background-repeat: no-repeat;
}
.find-clinic-title{
    margin: 30px auto;
}
.container{
    padding: 7% 15%;
    background-color: bisque;
}
.clinicChoice{
    display: inline-block;
    margin: 20px;
}
/* promotional message section */
#health-snippets{
    margin: 30px;
}
.health-img{
    width: 100px;
    height: 100px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

.opt-icon {
    margin:50px
}

.rounded1
{
    border-radius: 100px;
}
/* footer section */
